.profile {
    padding: 70px 70px 70px;
}

.profile__container {
    margin: 0 auto;
    max-width: 410px;
    display: flex;
    flex-direction: column;
}

.profile__title {
    margin: 0 0 125px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.profile__form {
    min-height: 298px;
    display: flex;
    flex-direction: column;
}

.profile__field {
    margin: 0 0 17px;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    border-bottom: 1px solid #E8E8E8;
}

.profile__input {
    grid-area: 1/2;
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 13px;
    border: none;
    background: none;
    text-align: right;
    outline: none;
}

.profile__input-err {
    grid-column: 1/3;
    margin: 2px 0;
    min-height: 12px;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.profile__edit-btn {
    margin: auto 0 16px;
    padding: 0px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.profile__exit-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
    text-decoration: none;
    transition: .4s;
}

.profile__input_err {
    font-weight: 400;
    color: #EE3465;
}

.profile__edit-btn_inactive {
    color: #d9d9d9;
    cursor: default;
}

.profile__field:last-of-type {
    /* margin: 0;
    padding-bottom: 0; */
    border-bottom: none;
}

.profile__input:focus {
    font-weight: 500;
}

.profile__edit-btn:hover,
.profile__exit-btn:hover {
    opacity: .6;
}

.profile__edit-btn_inactive:hover {
    opacity: 1;
}

.profile__input:-webkit-autofill,
.profile__input:-webkit-autofill:hover,
.profile__input:-webkit-autofill:focus,
.profile__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}

.profile__input:-webkit-autofill {
    -webkit-text-fill-color: black;
}

@media screen and (max-width: 900px) {
    .profile {
        padding: 231px 0 269px;
    }

    .profile__title {
        margin: 0 0 98px;
    }

    /* .profile__form {
        margin-bottom: 210px;
    } */
}

@media screen and (max-width: 500px) {
    .profile {
        padding: 65px 30px 269px;
    }

    .profile__title {
        margin: 0 0 81px;
    }

    /* .profile__form {
        margin-bottom: 380px;
    } */

    .profile__edit-btn,
    .profile__exit-btn {
        font-size: 12px;
        line-height: 15px;
    }
}