.not-found {
    margin: auto;
    padding: 246px 0 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__title {
    margin: 0 0 5px;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

.not-found__text {
    margin: 0 0 184px;
    font-size: 16px;
    line-height: 19px;
}

.not-found__link {
    font-size: 14px;
    line-height: 17px;
    color: #3456F3;
    text-decoration: none;
    transition: .2s;
}

.not-found__link:hover {
    opacity: .7;
}

@media screen and (max-width: 900px) {
    .not-found {
        padding: 408px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .not-found {
        padding: 329px 0 0;
    }

    .not-found__title {
        margin: 0 0 10px;
        font-weight: 400;
        font-size: 80px;
        line-height: 97px;
    }

    .not-found__text {
        margin: 0 0 284px;
        font-size: 12px;
        line-height: 15px;
    }

    .not-found__link {
        font-size: 12px;
        line-height: 15px;
    }
}